<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <f:view contentType="text/html" locale="#{localeBean.locale}">
        <h:head>
            <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
            <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
            <title>Charts Distribution</title>
            <link rel="icon" href="resources/icons/4ProodosNarrow.jpg" sizes="32x32"/>
            <h:outputStylesheet library="css" name="default.css" />
            <h:outputStylesheet library="css" name="header.css" />
            <h:outputStylesheet library="css" name="index.css" />
        </h:head>

        <h:body>
            <p:panel id="analisidatatable"
                     class="ui-g-12" 
                     style="width:100%; border: 0px;">

                <div class="ui-g-10 nopaddinglr" style="height: 450px; text-align: center">
                    <p:chart class="chart" style="width: 97%; margin-left: 2%; height: 400px" type="line" model="#{bccsiView.lineModelDay}" responsive="true"/>
                    <h3 style="margin-bottom: 0px">
                        <span style="color: #58BA27">#{txt['uilabel.ch1.offerte']} = #{bccsiView.totOfferte} - </span>
                        <span style="color: #FFCC33">#{txt['uilabel.ch1.risposte']} = #{bccsiView.totRisposte} - </span>
                        <span style="color: #F74A4A">#{txt['uilabel.ch1.abbandonate']} = #{bccsiView.totAbbandonate}</span>
                    </h3>
                </div>
                <div class="ui-g-2 nopaddinglr" style="height: 350px;" align="center">
                    <div class="ui-g-12" style="height: 150px;">
                        <div style="background: #{bccsiView.percRispMin40 lt 71 ? '#F74A4A' : bccsiView.percRispMin40 gt 85 ? '#58BA27' : '#FFCC33'}; 
                             border: 3px black solid; border-radius: 10px; margin-top: 10px; height: 120px">
                            <br/>
                            <p:outputLabel value="#{txt['uilabel.ch1.percRisposte']}"/>
                            <h1>#{bccsiView.percRispMin40 eq 0 ? '-' : bccsiView.getPercValue(bccsiView.percRispMin40)}</h1>
                        </div>
                    </div>
                    <div class="ui-g-12" style="height: 150px;">
                        <div style="background: #649DC2; 
                             border: 3px black solid; border-radius: 10px; margin-top: 10px">
                            <br/>
                            <p:outputLabel value="#{txt['uilabel.ch1.percTicket']}"/>
                            <h1>#{bccsiView.percTicketSuRisp eq 0 ? '-' : bccsiView.getPercValue(bccsiView.percTicketSuRisp)}</h1>
                        </div>
                    </div>
                </div>

                <div class="ui-g-12" style="height: 50px"/>

                <div class="ui-g-12" style="display: #{bccsiView.day eq true ? '' : 'none'}">
                    <p:dataTable value="#{bccsiView.values}"
                                 var="val1"
                                 emptyMessage="#{txt['message.emptyTable']}"
                                 style="text-align: center">
                        <p:column width="400">
                            <f:facet name="header">
                                <h:outputText value="#{txt['uilabel.ch2.col1']}"/>
                            </f:facet>
                            <div style="text-align: left !important; padding-left: 1vw">
                                <h:outputText value="#{val1.area}"/>
                            </div>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                #{txt['uilabel.ch2.col2']}
                            </f:facet>
                            <div class="ui-g-7 nopaddingtb" align="right">
                                <h:outputText value="#{val1.offerte}"/>
                            </div>
                            <div class="ui-g-5 nopaddingtb">
                                <p:graphicImage value="#{bccsiView.thresholdEval(val1, '01')}" style="width:15px"/>
                            </div>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                #{txt['uilabel.ch2.col3']}
                            </f:facet>
                            <div class="ui-g-7 nopaddingtb" align="right">
                                <h:outputText value="#{val1.risposte}"/>
                            </div>
                            <div class="ui-g-5 nopaddingtb">
                                <p:graphicImage value="#{bccsiView.thresholdEval(val1, '02')}" style="width:15px"/>
                            </div>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                #{txt['uilabel.ch2.col4']}
                            </f:facet>
                            <div class="ui-g-7 nopaddingtb" align="right">
                                <h:outputText value="#{val1.abbandonate}"/>
                            </div>
                            <div class="ui-g-5 nopaddingtb">
                                <p:graphicImage value="#{bccsiView.thresholdEval(val1, '03')}" style="width:15px"/>
                            </div>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                #{txt['uilabel.ch2.col5']}
                            </f:facet>
                            <div class="ui-g-7 nopaddingtb" align="right">
                                <h:outputText value="#{val1.percrisposte eq 0 ? '-' : bccsiView.getPercValue(val1.percrisposte)}"/>
                            </div>
                            <div class="ui-g-5 nopaddingtb">
                                <p:graphicImage value="#{val1.percrisposte eq 0 ? '' : bccsiView.thresholdEval(val1, '04')}" style="width:15px"/>
                            </div>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                #{txt['uilabel.ch2.col6']}
                            </f:facet>
                            <div class="ui-g-7 nopaddingtb" align="right">
                                <h:outputText value="#{val1.percrispmin40 eq 0 ? '-' : bccsiView.getPercValue(val1.percrispmin40)}"/>
                            </div>
                            <div class="ui-g-5 nopaddingtb">
                                <p:graphicImage value="#{val1.percrispmin40 eq 0 ? '' : bccsiView.thresholdEval(val1, '05')}" style="width:15px"/>
                            </div>
                        </p:column>
                    </p:dataTable>
                </div>

                <div class="ui-g-12" style="height: 50px; display: #{bccsiView.day eq true ? '' : 'none'}"/>

                <div class="ui-g-12" style="display: #{bccsiView.day eq true ? '' : 'none'}">
                    <p:dataTable value="#{bccsiView.valuesChart3}"
                                 var="val"
                                 emptyMessage="#{txt['message.emptyTable']}"
                                 style="text-align: center">
                        <p:column width="350">
                            <f:facet name="header">
                                <h:outputText value="#{txt['uilabel.ch3.col1']}"/>
                            </f:facet>
                            <div style="text-align: left !important; padding-left: 1vw">
                                <h:outputText value="#{val.area}"/>
                            </div>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                #{txt['uilabel.ch3.col2']}
                            </f:facet>
                            <div class="ui-g-7 nopaddingtb" align="right">
                                <h:outputText value="#{val.tkPublisher}"/>
                            </div>
                            <div class="ui-g-5 nopaddingtb">
                                <p:graphicImage value="#{bccsiView.thresholdEval(val, '50')}" style="width:15px"/>
                            </div>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                #{txt['uilabel.ch3.col3']}
                            </f:facet>
                            <div class="ui-g-7 nopaddingtb" align="right">
                                <h:outputText value="#{val.tkClosed}"/>
                            </div>
                            <div class="ui-g-5 nopaddingtb">
                                <p:graphicImage value="#{bccsiView.thresholdEval(val, '53')}" style="width:15px"/>
                            </div>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                #{txt['uilabel.ch3.col4']}
                            </f:facet>
                            <div class="ui-g-7 nopaddingtb" align="right">
                                <h:outputText value="#{val.tkNotAccepted}"/>
                            </div>
                            <div class="ui-g-5 nopaddingtb">
                                <p:graphicImage value="#{bccsiView.thresholdEval(val, '51')}" style="width:15px"/>
                            </div>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                #{txt['uilabel.ch3.col5']}
                            </f:facet>
                            <div class="ui-g-7 nopaddingtb" align="right">
                                <h:outputText value="#{val.percTkNotAccepted eq 0 ? '-' : bccsiView.getPercValue(val.percTkNotAccepted)}"/>
                            </div>
                            <div class="ui-g-5 nopaddingtb">
                                <p:graphicImage value="#{val.percTkNotAccepted eq 0 ? '' : bccsiView.thresholdEval(val, '52')}" style="width:15px"/>
                            </div>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                #{txt['uilabel.ch3.col6']}
                            </f:facet>
                            <div class="ui-g-7 nopaddingtb" align="right">
                                <h:outputText value="#{val.tkAccepted}"/>
                            </div>
                            <div class="ui-g-5 nopaddingtb">
                                <p:graphicImage value="#{bccsiView.thresholdEval(val, '60')}" style="width:15px"/>
                            </div>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                #{txt['uilabel.ch3.col7']}
                            </f:facet>
                            <div class="ui-g-7 nopaddingtb" align="right">
                                <h:outputText value="#{val.tkTecnicalIntervention}"/>
                            </div>
                            <div class="ui-g-5 nopaddingtb">
                                <p:graphicImage value="#{bccsiView.thresholdEval(val, '54')}" style="width:15px"/>
                            </div>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                #{txt['uilabel.ch3.col8']}
                            </f:facet>
                            <div class="ui-g-7 nopaddingtb" align="right">
                                <h:outputText value="#{val.backlogAssistance}"/>
                            </div>
                            <div class="ui-g-5 nopaddingtb">
                                <p:graphicImage value="#{bccsiView.thresholdEval(val, '55')}" style="width:15px"/>
                            </div>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                #{txt['uilabel.ch3.col9']}
                            </f:facet>
                            <div class="ui-g-7 nopaddingtb" align="right">
                                <h:outputText value="#{val.backlogTerzeParti}"/>
                            </div>
                            <div class="ui-g-5 nopaddingtb">
                                <p:graphicImage value="#{bccsiView.thresholdEval(val, '56')}" style="width:15px"/>
                            </div>
                        </p:column>
                    </p:dataTable>
                </div>

                <div class="ui-g-12" style="height: 50px; display: #{bccsiView.day eq true ? '' : 'none'}"/>

                <p:panel class="ui-g-12 nopadding" style="text-align: center; width:100%; border: 0px; padding: 0px; display: #{bccsiView.day eq true ? '' : 'none'}">
                    <p:chart type="bar" model="#{bccsiView.tkChiusiModel}" style="height: 600px"/>
                </p:panel>
                <div class="ui-g-12" align="center" style="display: #{bccsiView.day eq true ? '' : 'none'}">
                    <p:outputLabel value="#{txt['uilabel.ch4.tkPub']}" style="color: #DBC300; margin-right: 2%"/>
                    <p:outputLabel value="#{txt['uilabel.ch4.tkClosed']}" style="color: #58BA27; margin-right: 2%"/>
                    <p:outputLabel value="#{txt['uilabel.ch4.tkTot']}" style="color: #F74A4A"/>
                </div>

                <div class="ui-g-12" style="height: 50px; display: #{bccsiView.day eq true ? '' : 'none'}"/>

                <div class="ui-g-6" style="height: 400px">
                    <p:chart type="pie" model="#{bccsiView.chart5Model}" style="height: 100%"/>
                </div>
                <div class="ui-g-6" style="height: 400px">
                    <p:chart type="pie" model="#{bccsiView.chart6Model}" style="height: 100%"/>
                </div>

            </p:panel>
            <script language="javascript" type="text/javascript">
                function chartExtender() {
                    this.cfg.grid = {
                        background: 'transparent',
                        drawBorder: false,
                        textColor: 'white'
                    };
                }
                ;
                function pieExtender() {
                    this.cfg.grid = {
                        background: 'transparent',
                        drawBorder: false
                    };
                }
                ;
            </script> 
        </h:body>
    </f:view>
</html>

