@font-face {
    font-family: "Roboto Light";
    src: url('#{resource["font/Roboto-Light.ttf"]}');
}

@font-face {
    font-family: "Roboto Regular";
    src: url('#{resource["font/Roboto-Regular.ttf"]}');
}

@font-face {
    font-family: "Roboto Condensed";
    src: url('#{resource["font/RobotoCondensed-Regular.ttf"]}');
}

html {
    height: 100%;
    width: 100%;
}

html * {
    font-family: "Roboto Regular";
}

body { 
    height: 100%;
    width: 100%;
    margin: 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-size:  40px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    background: transparent !important
}

h2 {
    font-size:  24px;
    font-weight: bold;
    padding: 0 !important;
    background: transparent !important
}


a:link, a:visited {
    text-decoration: none;
}

a:link:hover, a:visited:hover  {
    background: transparent !important;
    font-weight : bold;
    text-decoration : none;
}

.container-all {
    height: 100%;
    width: 100%;
}

#page {
    padding: 0px;
}

#header{
    height: 12%;
    background-color: white;
    border-bottom: 0.3em solid black;
}

/* height: 87.7% per per avere un full page */ 

#slide-bar {
    height: 100%;
    padding: 0px;
    text-align: center;
}

#content {
    height: 87.7%;
    display: table;
    background-color: white;
    padding: 0 !important;
    padding-top: .2em !important;
}

.nopadding {
    padding: 0px !important;
}

.nopaddinglr {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

div#analisidatatable_content{
    padding: 0;
}

nopaddingtb {
    padding-top: 0px !important;
    padding-top: 0px !important;
}

/******************** Admin Panel **********************/


.table-adminPanel .ui-datatable-tablewrapper{
    height: 76vh;
}

.ui-datatable-tablewrapper{
    text-align: center;
}

.enable-icon {
    text-align: center;
    color: green;
}

.disable-icon {
    text-align: center;
    color: red;
}


.container-button {
    text-align: center;
    background-color: #e6e6e6;
    border-radius: 10px;
}

.container-button .ui-button {
    background: transparent;
    border: none;
    padding-left: 10%;
    padding-right: 10%;
    outline: none
}

.container-button .fa-edit, .container-button .fa-trash, .container-button .fa-user {
    color: black;
    font-size: 2vh;
}

/******************* Kpi Monitor **********************/

.tileGreen{
    margin: 0 1.66% ;
    width: 30% !important;
    text-align: center;
    border-color: transparent;
    border-radius:8px; 
    background: #50FA50 !important;
}

.tileYellow{
    margin: 0 1.66% ;
    width: 30% !important;
    text-align: center;
    border-color: transparent;
    border-radius:8px;
    background: #FAFA50 !important;
}

.tileRed{
    margin: 0 1.66% ;
    width: 30% !important;
    text-align: center;
    border-color: transparent;
    border-radius:8px; 
    background: #FA5050 !important;
}

.tile h1{
   font-weight: bold;
   font-size: 3vh;
   margin: 0px;
   padding: 0px;
}

.tile h2 {
    font-size: 2vh;
    margin: 0px;
    padding: 0px;
}

/*.container-table .ui-resizable-column {
    padding-left: 3% !important;
    padding-right: 3% !important;
}*/


.agentgrouptable {
    display: table;
    width: 100%;
}

.agentgrouptable table {
    table-layout: auto !important;
}

.ui-panel .ui-panel-content {
    padding: 0px !important;
}

.ui-panel .ui-panel-content td {
    padding: 0px !important;
}


/********************* Analisi ************************/

.table-analisi .ui-datatable-tablewrapper{
    height: 76vh;
    width: 83.4vw;
    overflow: scroll;
}

.ui-inputfield.hasDatepicker {
    width: 100px !important;
}

.select-menu {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

/********************* Communication ************************/

.mySimilTitle{
    background-color: aliceblue;
    font-style: italic; 
    color: #045491;
}


/******************** Table Problem in Chart ***********************/

.blackText{
    font-weight: bold;
}

.redText{
    font-weight: bold;
    color: #FF0000;
}

.orangeText{
    font-weight: bold;
    color: #FF530D;
}

.greenText{
    font-weight: bold;
    color: #52FF21;
}




.ui-panel{
    padding: auto !important;
}

.ui-panelgrid-cell {
    /*background: transparent !important;*/
}

.ui-panelgrid td, .ui-panelgrid tr
{
    border-style: none !important;
    /*background-color: transparent !important;*/
}

