.header-container-all {
    height: 100%;
    width: 100%;
}

.header-container-all .ui-widget-content { /* elimina tutti i bordi dei pannelli */
    border: none !important;
}

.header-logo {
    display: table;
    height: 100%;
    /*width: 100%;*/
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.header-logo img, .header-logo a {
    display: table-cell;
    vertical-align: middle;
    height: 10vh;
    width: 25vh;
}

.header-user {
    height: 100%;
/*    width: 100%;*/
    text-align: right;
/*    padding: 0px;
    margin: 0px;*/
}

.img-user {
    display: table;
    height: 100%;
    /*width: 100%;*/
}

.img-user img {
    display: table-cell;
    vertical-align: middle;
    height: 10vh;
    width: 7.5vh;
}

.name-user {
    /*width: 40%;*/
    height: 100%;
    display: table;
    margin: 0px;
    padding: 0px;
    border: none;
    font-size: 25px;
}

.name-user h2 {
    display: table-cell;
    vertical-align: middle;
}

/*.option-user {
    height: 100%;
    display: table;
}*/

#hdrForm {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

#hdrForm .ui-menu {
    background: transparent;
    padding: 0px;
}

.header-user a.ui-menuitem-link.ui-corner-all {
    border: none ;
}

.header-user .ui-menuitem-text {
    color: #4C4C4C !important;
}
.header-user .ui-menuitem-text :hover{
    color: #4C4C4C !important;
}



