@font-face {
    font-family: "Roboto Condensed";
    src: url('#{resource["font/RobotoCondensed-Regular.ttf"]}');
}

.index-text {
    color: #4C4C4C; 
    font-family: "Roboto Condensed" !important;
}

#index-icon-content {
    display: table-cell;
    vertical-align: middle;
    font-size: 20px !important;
    width: 200vh;
    height: 80vh;
}

.myGrid {
    height:100%;
    text-align:center;
    background-color: transparent !important;
}

.myImg {
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom:15px;
    border-radius: 10px;
    padding: 15px;   
}

#content .ui-widget-content {
    background: transparent !important;
    border: none !important;
}

.myImg:hover {
    background-color: #454544;  
}

.img-index {
    width: 60px;
    height: 60px;
}

@media screen and (min-width: 1500px) {
    .img-index {
        width: 140px;
        height: 140px;
    }
}


.ui-datagrid-column.ui-grid-col-4 {
    margin-right: 3%;
    margin-left: 3%;
}
