
._login {
    height: 100%;
    width: 100%; 
    text-align: center;
}

._login img {
    height: 100%;
}

._login_logo {
    height: 15%;
    border-bottom: 0.3em solid black;
}

._login-form {
    height: 75%;
    padding-top: 8% !important;
}

