h1 {
    /*color:#50A0CA;*/
}

.ui-tabs .ui-tabs-panel {
    border-width: 0;
    padding: 1px 1px!important;
    background: none;
}

.ui-layout-north {
    z-index:20 !important;
    overflow:visible !important;
}

.ui-layout-north .ui-layout-unit-content {
    overflow:visible !important;
    padding:0 !important;
}

.ui-layout-center .ui-layout-unit-content {
    padding:0 !important;
}

/*
.ui-widget-header {
    height: 20px !important;
    padding: 0; 
    margin:0;
    width: 100% !important;
}
*/
.ui-menuitem-text{color: aliceblue;}

.title {
    text-align: center !important;
    color: #CAD5F1;
    height: 40px !important;
    border:none;
}

.ui-datatable .ui-datatable-header {
    padding:0px 0px !important;
    height: 30px !important;
    border-radius: 3px;

}

.ui-datatable-scrollable-theadclone th span.ui-column-title {
    display: none !important;
    height: 0px !important;
}

.ui-datatable .ui-datatable-footer {
    padding:0px 0px !important;
    height: 10px !important;
    border-radius: 3px;

}

.ui-datatable th, .ui-datatable tfoot td {
    padding:0px 0px !important;
    margin:0px;
    height: 30px !important;
    border-radius: 3px;
}

.ui-panel-titlebar {
    border:none !important;
    height: 20px !important;
}

.ui-table-footer {height: 20px !important;}

.ui-widget {
    font-size: 16px !important;
}

/* ------ */
.myLabel:hover {
    color: #8080DC !important;
}
.myLabel {
    font-size: 26px !important;
}
    
    


/* main menu */




.choices td {
    font-size: 9px;
}

.ui-menuitem-text{color:#4E78CD !important;}

#btnbox{
    margin-top:20px;
}

.yesbtn{
    margin:10px;
}
.centerdiv{
    text-align: center;
}

.maxdiv{
    width:100%;
}

.columndiv{
    width: 20%; 
    display: inline-block;
}

.accordiondiv{
    width: 10%; 
    display: inline-block;
}

.fiftyColumn{
    width:50%;
}

.twentyColumn{
    width:30%;
}

.fourtyColumn{
    width:40%;
}

td.ui-panelgrid-cell.fourtyColumn{
    width:40%;
    position: absolute;
    vertical-align: top;
}