<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <f:view contentType="text/html" locale="#{localeBean.locale}">
        <h:head>
            <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
            <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
            <title>Charts Distribution</title>
            <link rel="icon" href="resources/icons/4ProodosNarrow.jpg" sizes="32x32"/>
            <h:outputStylesheet library="css" name="default.css" />
            <h:outputStylesheet library="css" name="header.css" />
            <h:outputStylesheet library="css" name="index.css" />
        </h:head>

        <h:body>
            <p:panel id="analisidatatable"
                     class="ui-g-12" 
                     style="width:100%; border: 0px;">

                <div class="ui-g-12">
                    <p:dataTable value="#{rCIBanqueView.modelTableAG}"
                                 var="kpi"
                                 emptyMessage="#{txt['message.emptyTable']}"
                                 class="performance-table">

                        <p:column width="160">
                            <f:facet name="header">
                                <h:outputText value="#{txt['uilabel.ag']}"/>
                            </f:facet>
                            <div style="text-align: left !important; padding-left: 1vw">
                                <h:outputText value="#{kpi[0][0]}"/>
                            </div>
                        </p:column>

                        <p:columns value="#{rCIBanqueView.colsAG}" 
                                   var="col"
                                   columnIndexVar="index">
                            <f:facet name="header">
                                <h:outputText value="#{col.colheadergui}" escape="false" style="white-space: pre;"/>
                            </f:facet>
                            <div class="ui-g-8 nopadding" align="right">
                                <h:outputText value="#{kpi[index+1][0]}"/>
                            </div>
                            <div class="ui-g-3 nopadding" align="right">
                                <p:graphicImage value="#{kpi[index+1][1]}" style="width:15px"/>
                            </div>
                        </p:columns>
                    </p:dataTable>
                </div>

                <div class="ui-g-12" style="height: 50px"/>

                <div class="ui-g-12">
                    <p:dataTable value="#{rCIBanqueView.modelTableFL}"
                                 var="kpi"
                                 emptyMessage="#{txt['message.emptyTable']}"
                                 class="performance-table">

                        <p:column width="160">
                            <f:facet name="header">
                                <h:outputText value="#{txt['uilabel.oggetti']}"/>
                            </f:facet>
                            <div style="text-align: left !important; padding-left: 1vw">
                                <h:outputText value="#{kpi[0][0]}"/>
                            </div>
                        </p:column>

                        <p:columns value="#{rCIBanqueView.colsFL}" 
                                   var="col"
                                   columnIndexVar="index">
                            <f:facet name="header">
                                <h:outputText value="#{col}" escape="false" style="white-space: pre;"/>
                            </f:facet>
                            <div class="ui-g-7 nopadding" align="right">
                                <h:outputText value="#{kpi[index+1][0]}"/>
                            </div>
                            <div class="ui-g-4 nopadding" align="right">
                                <p:graphicImage value="#{kpi[index+1][1]}" style="width:15px"/>
                            </div>
                        </p:columns>
                    </p:dataTable>
                </div>

                <div class="ui-g-12" style="height: 50px"/>

                <div class="ui-g-12" align="center" style="height: 550px">
                    <h1>#{rCIBanqueView.trucksName.get(0).getDescr()}</h1>
                    <p:chart type="bar" model="#{rCIBanqueView.barModelChart[0]}" responsive="true" style="width: 97%; margin-left: 2%; height: 400px"/>
                    <h3 style="font-size: 2vw">
                        <span style="color: #FFCC33">#{txt['uilabel.lds']} - </span>
                        <span style="color: #58BA27">#{txt['uilabel.tda']} - </span>
                        <span style="color: #F74A4A">#{txt['uilabel.answeredCall']}</span>
                    </h3>
                </div>

                <div class="ui-g-12" style="height: 50px"/>

                <div class="ui-g-12" align="center" style="height: 550px">
                    <h1>#{rCIBanqueView.trucksName.get(1).getDescr()}</h1>
                    <p:chart type="bar" model="#{rCIBanqueView.barModelChart[1]}" responsive="true" style="width: 97%; margin-left: 2%; height: 400px"/>
                    <h3 style="font-size: 2vw">
                        <span style="color: #FFCC33">#{txt['uilabel.lds']} - </span>
                        <span style="color: #58BA27">#{txt['uilabel.tda']} - </span>
                        <span style="color: #F74A4A">#{txt['uilabel.answeredCall']}</span>
                    </h3>
                </div>

                <div class="ui-g-12" style="height: 50px"/>

                <div class="ui-g-12" align="center" style="height: 550px">
                    <h1>#{rCIBanqueView.trucksName.get(2).getDescr()}</h1>
                    <p:chart type="bar" model="#{rCIBanqueView.barModelChart[2]}" responsive="true" style="width: 97%; margin-left: 2%; height: 400px"/>
                    <h3 style="font-size: 2vw">
                        <span style="color: #FFCC33">#{txt['uilabel.lds']} - </span>
                        <span style="color: #58BA27">#{txt['uilabel.tda']} - </span>
                        <span style="color: #F74A4A">#{txt['uilabel.answeredCall']}</span>
                    </h3>
                </div>

                <div class="ui-g-12" style="height: 50px"/>

                <div class="ui-g-12" align="center" style="height: 550px">
                    <h1>#{rCIBanqueView.trucksName.get(3).getDescr()}</h1>
                    <p:chart type="bar" model="#{rCIBanqueView.barModelChart[3]}" responsive="true" style="width: 97%; margin-left: 2%; height: 400px"/>
                    <h3 style="font-size: 2vw">
                        <span style="color: #FFCC33">#{txt['uilabel.lds']} - </span>
                        <span style="color: #58BA27">#{txt['uilabel.tda']} - </span>
                        <span style="color: #F74A4A">#{txt['uilabel.answeredCall']}</span>
                    </h3>
                </div>

                <div class="ui-g-12" style="height: 50px"/>

                <div class="ui-g-12" align="center" style="height: 550px">
                    <h1>#{rCIBanqueView.trucksName.get(4).getDescr()}</h1>
                    <p:chart type="bar" model="#{rCIBanqueView.barModelChart[4]}" responsive="true" style="width: 97%; margin-left: 2%; height: 400px"/>
                    <h3 style="font-size: 2vw">
                        <span style="color: #FFCC33">#{txt['uilabel.lds']} - </span>
                        <span style="color: #58BA27">#{txt['uilabel.tda']} - </span>
                        <span style="color: #F74A4A">#{txt['uilabel.answeredCall']}</span>
                    </h3>
                </div>

                <div class="ui-g-12" style="height: 50px"/>

                <div class="ui-g-12">
                    <p:dataTable value="#{rCIBanqueView.modelTableRisp}"
                                 var="kpi"
                                 emptyMessage="#{txt['message.emptyTable']}"
                                 class="performance-table">

                        <p:column width="160">
                            <f:facet name="header">
                                <h:outputText value="#{txt['uilabel.oggetti']}"/>
                            </f:facet>
                            <div style="text-align: left !important; padding-left: 1vw">
                                <h:outputText value="#{kpi[0][0]}"/>
                            </div>
                        </p:column>

                        <p:columns value="#{rCIBanqueView.colsRisp}" 
                                   var="col"
                                   columnIndexVar="index">
                            <f:facet name="header">
                                <h:outputText value="#{col.label}" escape="false" style="white-space: pre;"/>
                            </f:facet>
                            <div class="ui-g-7 nopadding" align="right">
                                <h:outputText value="#{kpi[index+1][0]}"/>
                            </div>
                            <div class="ui-g-4 nopadding" align="right">
                                <p:graphicImage value="#{kpi[index+1][1]}" style="width:15px"/>
                            </div>
                        </p:columns>
                    </p:dataTable>
                </div>

                <div class="ui-g-12" style="height: 50px"/>

                <div class="ui-g-12">
                    <p:dataTable value="#{rCIBanqueView.modelTableAbn}"
                                 var="kpi"
                                 emptyMessage="#{txt['message.emptyTable']}"
                                 class="performance-table">

                        <p:column width="160">
                            <f:facet name="header">
                                <h:outputText value="#{txt['uilabel.oggetti']}"/>
                            </f:facet>
                            <div style="text-align: left !important; padding-left: 1vw">
                                <h:outputText value="#{kpi[0][0]}"/>
                            </div>
                        </p:column>

                        <p:columns value="#{rCIBanqueView.colsAbn}" 
                                   var="col"
                                   columnIndexVar="index">
                            <f:facet name="header">
                                <h:outputText value="#{col.label}" escape="false" style="white-space: pre;"/>
                            </f:facet>
                            <div class="ui-g-7 nopadding" align="right">
                                <h:outputText value="#{kpi[index+1][0]}"/>
                            </div>
                            <div class="ui-g-4 nopadding" align="right">
                                <p:graphicImage value="#{kpi[index+1][1]}" style="width:15px"/>
                            </div>
                        </p:columns>
                    </p:dataTable>
                </div>

                <div class="ui-g-12" style="height: 50px"/>

                <div class="ui-g-12">
                    <p:dataTable value="#{rCIBanqueView.modelTableLDS}"
                                 var="kpi"
                                 emptyMessage="#{txt['message.emptyTable']}"
                                 class="performance-table">

                        <p:column width="160">
                            <f:facet name="header">
                                <h:outputText value="#{txt['uilabel.oggetti']}"/>
                            </f:facet>
                            <div style="text-align: left !important; padding-left: 1vw">
                                <h:outputText value="#{kpi[0][0]}"/>
                            </div>
                        </p:column>

                        <p:columns value="#{rCIBanqueView.colsLDS}" 
                                   var="col"
                                   columnIndexVar="index">
                            <f:facet name="header">
                                <h:outputText value="#{col.label}" escape="false" style="white-space: pre;"/>
                            </f:facet>
                            <div class="ui-g-7 nopadding" align="right">
                                <h:outputText value="#{kpi[index+1][0]}"/>
                            </div>
                            <div class="ui-g-4 nopadding" align="right">
                                <p:graphicImage value="#{kpi[index+1][1]}" style="width:15px"/>
                            </div>
                        </p:columns>
                    </p:dataTable>
                </div>
            </p:panel>
            <script language="javascript" type="text/javascript">
                function chartExtender() {
                    this.cfg.grid = {
                        background: 'transparent',
                        drawBorder: false,
                        textColor: 'white'
                    };
                }
                ;
                function pieExtender() {
                    this.cfg.grid = {
                        background: 'transparent',
                        drawBorder: false
                    };
                }
                ;
            </script> 
        </h:body>
    </f:view>
</html>

