<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <f:view contentType="text/html" locale="#{localeBean.locale}">
        <h:head>
            <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
            <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
            <title>Charts Distribution</title>
            <link rel="icon" href="resources/icons/4ProodosNarrow.jpg" sizes="32x32"/>
            <h:outputStylesheet library="css" name="default.css" />
            <h:outputStylesheet library="css" name="header.css" />
            <h:outputStylesheet library="css" name="index.css" />
        </h:head>

        <h:body>
            <p:panel id="analisidatatable"
                     class="container-table" 
                     style="width:100%; border: 0px;">
                <p:dataTable value="#{sinergiaView.values}"
                             var="kpi"
                             rowKey="#{kpi}"
                             emptyMessage="#{txt['message.emptyTable']}"
                             style="text-align: center">

                    <p:column width="250">
                        <f:facet name="header">
                            <h:outputText value="#{txt['uilabel.nomeCoda']}"/>
                        </f:facet>
                        <div style="text-align: left !important; padding-left: 1vw">
                            <h:outputText value="#{kpi.nome}"/>
                        </div>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.totChiamateRicev']}
                        </f:facet>
                        <div class="ui-g-7 nopaddingtb" align="right">
                            <h:outputText value="#{kpi.totricevute}"/>
                        </div>
                        <div class="ui-g-5 nopaddingtb">
                            <p:graphicImage value="#{sinergiaView.thresholdEval(kpi, '55')}" style="width:15px"/>
                        </div>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.totChiamateInGestione']}
                        </f:facet>
                        <h:outputText value="#{kpi.totingestione}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.totChiamateGestite']}
                        </f:facet>
                        <div class="ui-g-7 nopaddingtb" align="right">
                            <h:outputText value="#{kpi.totgestite}"/>
                        </div>
                        <div class="ui-g-5 nopaddingtb">
                            <p:graphicImage value="#{sinergiaView.thresholdEval(kpi, '59')}" style="width:15px"/>
                        </div>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.totChiamateInAttesa']}
                        </f:facet>
                        <h:outputText value="#{kpi.totinattesa}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.totAbbandonate']}
                        </f:facet>
                        <div class="ui-g-7 nopaddingtb" align="right">
                            <h:outputText value="#{kpi.totabb}"/>
                        </div>
                        <div class="ui-g-5 nopaddingtb">
                            <p:graphicImage value="#{sinergiaView.thresholdEval(kpi, '02')}" style="width:15px"/>
                        </div>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.percAbb']}
                        </f:facet>
                        <div class="ui-g-7 nopaddingtb" align="right">
                            <h:outputText value="#{sinergiaView.getPercentageFormat(kpi.percabb)}"/>
                        </div>
                        <div class="ui-g-5 nopaddingtb">
                            <p:graphicImage value="#{sinergiaView.thresholdEval(kpi, '04')}" style="width:15px"/>
                        </div>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.overflowEngineering']}
                        </f:facet>
                        <div class="ui-g-7 nopaddingtb" align="right">
                            <h:outputText value="#{kpi.overflow}"/>
                        </div>
                        <div class="ui-g-5 nopaddingtb">
                            <p:graphicImage value="#{sinergia_Chart2.thresholdEval(kpi, '05')}" style="width:15px"/>
                        </div>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.percLDS']}
                        </f:facet>
                        <div class="ui-g-7 nopaddingtb" align="right">
                            <h:outputText value="#{sinergiaView.getPercentageFormat(kpi.perclds)}"/>
                        </div>
                        <div class="ui-g-5 nopaddingtb">
                            <p:graphicImage value="#{sinergiaView.thresholdEval(kpi, '01')}" style="width:15px"/>
                        </div>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.callBackInGestione']}
                        </f:facet>
                        <h:outputText value="#{kpi.callbackingestione}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.tmpMedioAttesa']}
                        </f:facet>
                        <div class="ui-g-7 nopaddingtb" align="right">
                            <h:outputText value="#{sinergiaView.tFormat(kpi.tmpmedioattesa)}"/>
                        </div>
                        <div class="ui-g-5 nopaddingtb">
                            <p:graphicImage value="#{sinergiaView.thresholdEval(kpi, '60')}" style="width:15px"/>
                        </div>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.tmpMedioRisposta']}
                        </f:facet>
                        <div class="ui-g-7 nopaddingtb" align="right">
                            <h:outputText value="#{sinergiaView.tFormat(kpi.tmpmediorisposta)}"/>
                        </div>
                        <div class="ui-g-5 nopaddingtb">
                            <p:graphicImage value="#{sinergiaView.thresholdEval(kpi, '53')}" style="width:15px"/>
                        </div>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.tmpMedioAbbandono']}
                        </f:facet>
                        <div class="ui-g-7 nopaddingtb" align="right">
                            <h:outputText value="#{sinergiaView.tFormat(kpi.tmpmedioabb)}"/>
                        </div>
                        <div class="ui-g-5 nopaddingtb">
                            <p:graphicImage value="#{sinergiaView.thresholdEval(kpi, '57')}" style="width:15px"/>
                        </div>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.tmpMaxAttesa']}
                        </f:facet>
                        <div class="ui-g-7 nopaddingtb" align="right">
                            <h:outputText value="#{sinergiaView.tFormat(kpi.tmpmaxattesa)}"/>
                        </div>
                        <div class="ui-g-5 nopaddingtb">
                            <p:graphicImage value="#{sinergiaView.thresholdEval(kpi, '54')}" style="width:15px"/>
                        </div>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.tkAperti']}
                        </f:facet>
                        <div class="ui-g-7 nopaddingtb" align="right">
                            <h:outputText value="#{kpi.tkaperti}"/>
                        </div>
                        <div class="ui-g-5 nopaddingtb">
                            <p:graphicImage value="#{sinergiaView.thresholdEval(kpi, '52')}" style="width:15px"/>
                        </div>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.tkGestiti']}
                        </f:facet>
                        <div class="ui-g-7 nopaddingtb" align="right">
                            <h:outputText value="#{kpi.tkgestiti}"/>
                        </div>
                        <div class="ui-g-5 nopaddingtb">
                            <p:graphicImage value="#{sinergiaView.thresholdEval(kpi, '51')}" style="width:15px"/>
                        </div>
                    </p:column>
                </p:dataTable>
            </p:panel>
            <script language="javascript" type="text/javascript">
                function chartExtender() {
                    this.cfg.grid = {
                        background: 'transparent',
                        drawBorder: false,
                        textColor: 'white'
                    };
                }
                ;
                function pieExtender() {
                    this.cfg.grid = {
                        background: 'transparent',
                        drawBorder: false
                    };
                }
                ;
            </script> 
        </h:body>
    </f:view>
</html>

