<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <f:view contentType="text/html" locale="#{localeBean.locale}">
        <h:head>
            <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
            <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
            <title>Charts Distribution</title>
            <link rel="icon" href="resources/icons/4ProodosNarrow.jpg" sizes="32x32"/>
            <h:outputStylesheet library="css" name="default.css" />
            <h:outputStylesheet library="css" name="header.css" />
            <h:outputStylesheet library="css" name="index.css" />
        </h:head>

        <h:body>
            <p:panel id="analisidatatable"
                     class="container-table" 
                     style="width:100%; border: 0px;">

                <p:dataTable value="#{aciInHouseAllView.modelTableAG}"
                             var="kpi"
                             class="performance-table">
                    <p:column width="160">
                        <f:facet name="header">
                            <h:outputText value="#{txt['uilabel.ag']}"/>
                        </f:facet>
                        <div style="text-align: left !important; padding-left: 1vw">
                            <h:outputText value="#{kpi[0][0]}"/>
                        </div>
                    </p:column>
                    <p:columns value="#{aciInHouseAllView.colsAG}" 
                               var="col"
                               columnIndexVar="index"
                               style="border: #{kpi[index+1][2] eq true ? '2px #649DC2 dashed' : ''}">
                        <f:facet name="header">
                            <h:outputText value="#{col.colheadergui}" escape="false" style="white-space: pre;"/>
                        </f:facet>
                        <div class="ui-g-8 nopadding" align="right">
                            <h:outputText value="#{kpi[index+1][0]}"/>
                        </div>
                        <div class="ui-g-3 nopadding" align="right">
                            <p:graphicImage value="#{kpi[index+1][1]}" style="width:15px"/>
                        </div>
                    </p:columns>
                </p:dataTable>

                <div style="height: 3vh"/>

                <p:dataTable value="#{aciInHouseAllView.modelTableTruckCot}"
                             var="kpi"
                             class="performance-table">
                    <p:column width="250">
                        <f:facet name="header">
                            <h:outputText value="#{txt['uilabel.oggetti']}"/>
                        </f:facet>
                        <div style="text-align: left !important; padding-left: 1vw">
                            <h:outputText value="#{kpi[0][0]}"/>
                        </div>
                    </p:column>
                    <p:columns value="#{aciInHouseAllView.colsTruckCot}" 
                               var="col"
                               columnIndexVar="index">
                        <f:facet name="header">
                            <h:outputText value="#{col}" escape="false" style="white-space: pre;"/>
                        </f:facet>
                        <div class="ui-g-8 nopadding" align="right">
                            <h:outputText value="#{kpi[index+1][0]}"/>
                        </div>
                        <div class="ui-g-3 nopadding" align="right">
                            <p:graphicImage value="#{kpi[index+1][1]}" style="width:15px"/>
                        </div>
                    </p:columns>
                </p:dataTable>

                <div style="height: 3vh"/>

                <p:dataTable value="#{aciInHouseAllView.modelTableTruckCos}"
                             var="kpi"
                             emptyMessage="#{txt['message.emptyTable']}"
                             class="performance-table">

                    <p:column width="160">
                        <f:facet name="header">
                            <h:outputText value="#{txt['uilabel.oggetti']}"/>
                        </f:facet>
                        <div style="text-align: left !important; padding-left: 1vw">
                            <h:outputText value="#{kpi[0][0]}"/>
                        </div>
                    </p:column>

                    <p:columns value="#{aciInHouseAllView.colsTruckCos}" 
                               var="col"
                               columnIndexVar="index">
                        <f:facet name="header">
                            <h:outputText value="#{col}" escape="false" style="white-space: pre;"/>
                        </f:facet>
                        <div class="ui-g-7 nopadding" align="right">
                            <h:outputText value="#{kpi[index+1][0]}"/>
                        </div>
                        <div class="ui-g-4 nopadding" align="right">
                            <p:graphicImage value="#{kpi[index+1][1]}" style="width:15px"/>
                        </div>
                    </p:columns>
                </p:dataTable>

                <div style="height: 3vh"/>

                <p:chart type="bar" model="#{aciInHouseAllView.barModel}" style="height:400px" responsive="true"/>
                <h1 style="text-align: center"><span style="color: #58BA27">LDS STD - </span><span style="color: #1300DA">ACR STD - </span><span style="color: #FFCC33">SOCI ACI - </span><span style="color: #F74A4A">OVERFLOW SERVIZI - </span><span style="color: #666">OVERFLOW LDC</span></h1>

                <div style="height: 3vh"/>

                <div class="ui-g-6">
                    <p:chart class="pieChart" type="pie" model="#{aciInHouseAllView.pieModelOffered}" style="height:400px" responsive="true"/>
                </div>
                <div class="ui-g-6">
                    <p:chart class="pieChart" type="pie" model="#{aciInHouseAllView.pieModelAnswered}" style="height:400px" responsive="true"/>
                </div>

            </p:panel>
            <script language="javascript" type="text/javascript">
                function chartExtender() {
                    this.cfg.grid = {
                        background: 'transparent',
                        drawBorder: false,
                        textColor: 'white'
                    };
                }
                ;
                function pieExtender() {
                    this.cfg.grid = {
                        background: 'transparent',
                        drawBorder: false
                    };
                }
                ;
            </script> 
        </h:body>
    </f:view>
</html>

