<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <f:view contentType="text/html" locale="#{localeBean.locale}">
        <h:head>
            <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
            <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
            <title>Charts Distribution</title>
            <link rel="icon" href="resources/icons/4ProodosNarrow.jpg" sizes="32x32"/>
            <h:outputStylesheet library="css" name="default.css" />
            <h:outputStylesheet library="css" name="header.css" />
            <h:outputStylesheet library="css" name="index.css" />
        </h:head>

        <h:body>
            <p:panel id="analisidatatable"
                     class="container-table" 
                     style="width:100%; border: 0px;">
                <h2 style="text-align: center">Dettaglio Agenti</h2>
                <p:dataTable id="realtimeTableBCCSI" 
                             value="#{pC_RT_AgentDetailsView.values}"
                             var="kpi"
                             rowKey="#{kpi}"
                             emptyMessage="#{txt['message.emptyTable']}"
                             style="text-align: center">

                    <p:column width="200">
                        <f:facet name="header">
                            <h:outputText value="#{txt['uilabel.agentName']}"/>
                        </f:facet>
                        <div style="text-align: left !important; padding-left: 1vw">
                            <h:outputText value="#{kpi.name}"/>
                        </div>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.tmpTotaleDiLogin']}
                        </f:facet>
                        <div class="ui-g-7 nopaddingtb" align="right">
                            <h:outputText value="#{pC_RT_AgentDetailsView.tFormat(kpi.totlogin)}"/>
                        </div>
                        <div class="ui-g-5 nopaddingtb">
                            <p:graphicImage value="#{pC_RT_AgentDetailsView.thresholdEval(kpi, '034')}" style="width:15px"/>
                        </div>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.tmpTotaleInCoda']}
                        </f:facet>
                        <div class="ui-g-7 nopaddingtb" align="right">
                            <h:outputText value="#{pC_RT_AgentDetailsView.tFormat(kpi.totcoda)}"/>
                        </div>
                        <div class="ui-g-5 nopaddingtb">
                            <p:graphicImage value="#{pC_RT_AgentDetailsView.thresholdEval(kpi, '035')}" style="width:15px"/>
                        </div>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.tmpTotaleFuoriCoda']}
                        </f:facet>
                        <div class="ui-g-7 nopaddingtb" align="right">
                            <h:outputText value="#{pC_RT_AgentDetailsView.tFormat(kpi.totfuoricoda)}"/>
                        </div>
                        <div class="ui-g-5 nopaddingtb">
                            <p:graphicImage value="#{pC_RT_AgentDetailsView.thresholdEval(kpi, '036')}" style="width:15px"/>
                        </div>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.tmpTotaleDiConversazione']}
                        </f:facet>
                        <div class="ui-g-7 nopaddingtb" align="right">
                            <h:outputText value="#{pC_RT_AgentDetailsView.tFormat(kpi.totconversazione)}"/>
                        </div>
                        <div class="ui-g-5 nopaddingtb">
                            <p:graphicImage value="#{pC_RT_AgentDetailsView.thresholdEval(kpi, '037')}" style="width:15px"/>
                        </div>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.tmpMedioDiConv']}
                        </f:facet>
                        <div class="ui-g-7 nopaddingtb" align="right">
                            <h:outputText value="#{pC_RT_AgentDetailsView.tFormat(kpi.tmconversazione)}"/>
                        </div>
                        <div class="ui-g-5 nopaddingtb">
                            <p:graphicImage value="#{pC_RT_AgentDetailsView.thresholdEval(kpi, '038')}" style="width:15px"/>
                        </div>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.numChiamateRicevute']}
                        </f:facet>
                        <div class="ui-g-7 nopaddingtb" align="right">
                            <h:outputText value="#{kpi.ricevute}"/>
                        </div>
                        <div class="ui-g-5 nopaddingtb">
                            <p:graphicImage value="#{pC_RT_AgentDetailsView.thresholdEval(kpi, '040')}" style="width:15px"/>
                        </div>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.numChiamateGestite']}
                        </f:facet>
                        <div class="ui-g-7 nopaddingtb" align="right">
                            <h:outputText value="#{kpi.gestite}"/>
                        </div>
                        <div class="ui-g-5 nopaddingtb">
                            <p:graphicImage value="#{pC_RT_AgentDetailsView.thresholdEval(kpi, '039')}" style="width:15px"/>
                        </div>
                    </p:column>
                </p:dataTable>

                <div class="ui-g-12" style="height: 50px"/>

                <h2 style="text-align: center">Dettaglio Code</h2>
                <p:dataTable id="realtimeTableBCCSI" 
                             value="#{pC_RT_QueuesInboundView.values}"
                             var="kpi"
                             rowKey="#{kpi}"
                             emptyMessage="#{txt['message.emptyTable']}"
                             style="text-align: center">

                    <p:column width="130">
                        <f:facet name="header">
                            <h:outputText value="#{txt['uilabel.coda']}"/>
                        </f:facet>
                        <div style="text-align: left !important; padding-left: 1vw">
                            <h:outputText value="#{kpi.name}"/>
                        </div>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.ricevute']}
                        </f:facet>
                        <div class="ui-g-7 nopaddingtb" align="right">
                            <h:outputText value="#{kpi.ricevute}"/>
                        </div>
                        <div class="ui-g-5 nopaddingtb">
                            <p:graphicImage value="#{pC_RT_QueuesInboundView.thresholdEval(kpi, '001')}" style="width:15px"/>
                        </div>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.cmbTotali']}
                        </f:facet>
                        <div class="ui-g-7 nopaddingtb" align="right">
                            <h:outputText value="#{kpi.acw}"/>
                        </div>
                        <div class="ui-g-5 nopaddingtb">
                            <p:graphicImage value="#{pC_RT_QueuesInboundView.thresholdEval(kpi, '021')}" style="width:15px"/>
                        </div>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.gestite']}
                        </f:facet>
                        <div class="ui-g-7 nopaddingtb" align="right">
                            <h:outputText value="#{kpi.gestite}"/>
                        </div>
                        <div class="ui-g-5 nopaddingtb">
                            <p:graphicImage value="#{pC_RT_QueuesInboundView.thresholdEval(kpi, '002')}" style="width:15px"/>
                        </div>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.inGestione']}
                        </f:facet>
                        <div class="ui-g-7 nopaddingtb" align="right">
                            <h:outputText value="#{kpi.ingestione}"/>
                        </div>
                        <div class="ui-g-5 nopaddingtb">
                            <p:graphicImage value="#{pC_RT_QueuesInboundView.thresholdEval(kpi, '003')}" style="width:15px"/>
                        </div>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.inAttesa']}
                        </f:facet>
                        <div class="ui-g-7 nopaddingtb" align="right">
                            <h:outputText value="#{kpi.inattesa}"/>
                        </div>
                        <div class="ui-g-5 nopaddingtb">
                            <p:graphicImage value="#{pC_RT_QueuesInboundView.thresholdEval(kpi, '004')}" style="width:15px"/>
                        </div>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.abbandonate']}
                        </f:facet>
                        <div class="ui-g-7 nopaddingtb" align="right">
                            <h:outputText value="#{kpi.abbandonate}"/>
                        </div>
                        <div class="ui-g-5 nopaddingtb">
                            <p:graphicImage value="#{pC_RT_QueuesInboundView.thresholdEval(kpi, '006')}" style="width:15px"/>
                        </div>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.percAbbandonate']}
                        </f:facet>
                        <div class="ui-g-7 nopaddingtb" align="right">
                            <h:outputText value="#{pC_RT_QueuesInboundView.getPerc(kpi.percabbandonate)}"/>
                        </div>
                        <div class="ui-g-5 nopaddingtb">
                            <p:graphicImage value="#{pC_RT_QueuesInboundView.thresholdEval(kpi, '007')}" style="width:15px"/>
                        </div>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.dissuase']}
                        </f:facet>
                        <div class="ui-g-7 nopaddingtb" align="right">
                            <h:outputText value="#{kpi.dissuase}"/>
                        </div>
                        <div class="ui-g-5 nopaddingtb">
                            <p:graphicImage value="#{pC_RT_QueuesInboundView.thresholdEval(kpi, '008')}" style="width:15px"/>
                        </div>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.abbPremature']}
                        </f:facet>
                        <div class="ui-g-7 nopaddingtb" align="right">
                            <h:outputText value="#{kpi.abbpremature}"/>
                        </div>
                        <div class="ui-g-5 nopaddingtb">
                            <p:graphicImage value="#{pC_RT_QueuesInboundView.thresholdEval(kpi, '009')}" style="width:15px"/>
                        </div>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.percAbbPremature']}
                        </f:facet>
                        <div class="ui-g-7 nopaddingtb" align="right">
                            <h:outputText value="#{pC_RT_QueuesInboundView.getPerc(kpi.percabbpremature)}"/>
                        </div>
                        <div class="ui-g-5 nopaddingtb">
                            <p:graphicImage value="#{pC_RT_QueuesInboundView.thresholdEval(kpi, '010')}" style="width:15px"/>
                        </div>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.maxAttesa']}
                        </f:facet>
                        <div class="ui-g-7 nopaddingtb" align="right">
                            <h:outputText value="#{pC_RT_QueuesInboundView.tFormat(kpi.maxattesa)}"/>
                        </div>
                        <div class="ui-g-5 nopaddingtb">
                            <p:graphicImage value="#{pC_RT_QueuesInboundView.thresholdEval(kpi, '011')}" style="width:15px"/>
                        </div>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.tmRisposta']}
                        </f:facet>
                        <div class="ui-g-7 nopaddingtb" align="right">
                            <h:outputText value="#{pC_RT_QueuesInboundView.tFormat(kpi.tmrisposta)}"/>
                        </div>
                        <div class="ui-g-5 nopaddingtb">
                            <p:graphicImage value="#{pC_RT_QueuesInboundView.thresholdEval(kpi, '012')}" style="width:15px"/>
                        </div>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.tmAttesa']}
                        </f:facet>
                        <div class="ui-g-7 nopaddingtb" align="right">
                            <h:outputText value="#{pC_RT_QueuesInboundView.tFormat(kpi.tmattesa)}"/>
                        </div>
                        <div class="ui-g-5 nopaddingtb">
                            <p:graphicImage value="#{pC_RT_QueuesInboundView.thresholdEval(kpi, '014')}" style="width:15px"/>
                        </div>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.tmAbbandono']}
                        </f:facet>
                        <div class="ui-g-7 nopaddingtb" align="right">
                            <h:outputText value="#{pC_RT_QueuesInboundView.tFormat(kpi.tmabbandono)}"/>
                        </div>
                        <div class="ui-g-5 nopaddingtb">
                            <p:graphicImage value="#{pC_RT_QueuesInboundView.thresholdEval(kpi, '015')}" style="width:15px"/>
                        </div>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.tmConv']}
                        </f:facet>
                        <div class="ui-g-7 nopaddingtb" align="right">
                            <h:outputText value="#{pC_RT_QueuesInboundView.tFormat(kpi.tmconversazione)}"/>
                        </div>
                        <div class="ui-g-5 nopaddingtb">
                            <p:graphicImage value="#{pC_RT_QueuesInboundView.thresholdEval(kpi, '016')}" style="width:15px"/>
                        </div>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.lds']}
                        </f:facet>
                        <div class="ui-g-7 nopaddingtb" align="right">
                            <h:outputText value="#{pC_RT_QueuesInboundView.getPercLDS(kpi)}"/>
                        </div>
                        <div class="ui-g-5 nopaddingtb">
                            <p:graphicImage value="#{pC_RT_QueuesInboundView.thresholdEval(kpi, '017')}" style="width:15px"/>
                        </div>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.overflowOut']}
                        </f:facet>
                        <div class="ui-g-7 nopaddingtb" align="right">
                            <h:outputText value="#{kpi.overflowout}"/>
                        </div>
                        <div class="ui-g-5 nopaddingtb">
                            <p:graphicImage value="#{pC_RT_QueuesInboundView.thresholdEval(kpi, '000')}" style="width:15px"/>
                        </div>
                    </p:column>
                </p:dataTable>

                <div class="ui-g-12" style="height: 50px"/>

                <h2 style="text-align: center">Dettaglio Call Me Back</h2>
                <p:dataTable id="realtimeTableBCCSI" 
                             value="#{pC_RT_CallMeBackView.values}"
                             var="kpi"
                             rowKey="#{kpi}"
                             emptyMessage="#{txt['message.emptyTable']}"
                             style="text-align: center">

                    <p:column width="230">
                        <f:facet name="header">
                            <h:outputText value="#{txt['uilabel.coda']}"/>
                        </f:facet>
                        <div style="text-align: left !important; padding-left: 1vw">
                            <h:outputText value="#{kpi.name}"/>
                        </div>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.cmbTotali']}
                        </f:facet>
                        <div class="ui-g-7 nopaddingtb" align="right">
                            <h:outputText value="#{kpi.totali}"/>
                        </div>
                        <div class="ui-g-5 nopaddingtb">
                            <p:graphicImage value="#{pC_RT_CallMeBackView.thresholdEval(kpi, '021')}" style="width:15px"/>
                        </div>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.cmbGestite']}
                        </f:facet>
                        <div class="ui-g-7 nopaddingtb" align="right">
                            <h:outputText value="#{kpi.gestite}"/>
                        </div>
                        <div class="ui-g-5 nopaddingtb">
                            <p:graphicImage value="#{pC_RT_CallMeBackView.thresholdEval(kpi, '022')}" style="width:15px"/>
                        </div>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.cmbPercGestite']}
                        </f:facet>
                        <div class="ui-g-7 nopaddingtb" align="right">
                            <h:outputText value="#{pC_RT_CallMeBackView.getPerc(kpi.percgestite)}"/>
                        </div>
                        <div class="ui-g-5 nopaddingtb">
                            <p:graphicImage value="#{pC_RT_CallMeBackView.thresholdEval(kpi, '023')}" style="width:15px"/>
                        </div>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.cmbDaGestire']}
                        </f:facet>
                        <div class="ui-g-7 nopaddingtb" align="right">
                            <h:outputText value="#{kpi.dagestire}"/>
                        </div>
                        <div class="ui-g-5 nopaddingtb">
                            <p:graphicImage value="#{pC_RT_CallMeBackView.thresholdEval(kpi, '024')}" style="width:15px"/>
                        </div>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.cmbPercDaGestire']}
                        </f:facet>
                        <div class="ui-g-7 nopaddingtb" align="right">
                            <h:outputText value="#{pC_RT_CallMeBackView.getPerc(kpi.percdagestire)}"/>
                        </div>
                        <div class="ui-g-5 nopaddingtb">
                            <p:graphicImage value="#{pC_RT_CallMeBackView.thresholdEval(kpi, '025')}" style="width:15px"/>
                        </div>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.cmbInGestione']}
                        </f:facet>
                        <div class="ui-g-7 nopaddingtb" align="right">
                            <h:outputText value="#{kpi.ingestione}"/>
                        </div>
                        <div class="ui-g-5 nopaddingtb">
                            <p:graphicImage value="#{pC_RT_CallMeBackView.thresholdEval(kpi, '026')}" style="width:15px"/>
                        </div>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.cmbPercInGestione']}
                        </f:facet>
                        <div class="ui-g-7 nopaddingtb" align="right">
                            <h:outputText value="#{pC_RT_CallMeBackView.getPerc(kpi.percingestione)}"/>
                        </div>
                        <div class="ui-g-5 nopaddingtb">
                            <p:graphicImage value="#{pC_RT_CallMeBackView.thresholdEval(kpi, '027')}" style="width:15px"/>
                        </div>
                    </p:column>
                </p:dataTable>

                <div class="ui-g-12" style="height: 50px"/>

                <h2 style="text-align: center">Dettaglio Esiti</h2>
                <p:dataTable id="realtimeTableBCCSI" 
                             value="#{pC_RT_WrapUpView.values}"
                             var="kpi"
                             rowKey="#{kpi}"
                             emptyMessage="#{txt['message.emptyTable']}"
                             style="text-align: center">

                    <p:column width="230">
                        <f:facet name="header">
                            <h:outputText value="#{txt['uilabel.coda']}"/>
                        </f:facet>
                        <div style="text-align: left !important; padding-left: 1vw">
                            <h:outputText value="#{kpi.name}"/>
                        </div>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.gestite']}
                        </f:facet>
                        <h:outputText value="#{kpi.gestite}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.gestiteNonConsegnate']}
                        </f:facet>
                        <h:outputText value="#{kpi.gestitenonconsegnate}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.inviatoMessaggio']}
                        </f:facet>
                        <h:outputText value="#{kpi.inviatomessaggio}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            #{txt['uilabel.trasferite']}
                        </f:facet>
                        <h:outputText value="#{kpi.trasferite}"/>
                    </p:column>
                </p:dataTable>

                <div class="ui-g-12" style="height: 50px"/>
            </p:panel>
            <script language="javascript" type="text/javascript">
                function chartExtender() {
                    this.cfg.grid = {
                        background: 'transparent',
                        drawBorder: false,
                        textColor: 'white'
                    };
                }
                ;
                function pieExtender() {
                    this.cfg.grid = {
                        background: 'transparent',
                        drawBorder: false
                    };
                }
                ;
            </script> 
            <style>
                tr:first-child {
                    font-weight: bold;
                }
            </style>
        </h:body>
    </f:view>
</html>

